# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
build/
dist/
*.manifest
*.spec

# IDE
.idea/
.vscode/
*.swp
*.swo
*~

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# Configurazione locale
src/config.json

# Log
*.log

# Ambiente virtuale
venv/
ENV/

# Coverage
.coverage
htmlcov/

# Altro
.DS_Store
.env 

# Inno Setup
installer/
*.iss 